* {
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(9, 238, 85);
  padding: 10px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  font-size: 550%;
}


p {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 130%;
  font-weight:300
}

.main {
  margin-top: 30px;
  background-color:rgb(23, 23, 24);
}

h1 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgb(28, 240, 46);
  
}


.topnav {
  
  background-color: rgb(0, 0, 10);
  overflow: hidden;
  border-radius: 10px;
  z-index: 1;

}
.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0px;
}



.topnav a {
  margin:10px;
  background-color: rgb(8, 8, 8);
  float: left;
  color: rgb(152, 231, 163);
  font-size: 150%;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 10px;
  align-items: center;
  vertical-align: middle;

  position: relative;


}

.topnav a:hover {
  color: white;
  background-color:rgb(32, 32, 32);
  margin: 10px;
  border-radius: 10px;
  vertical-align: middle;
}

.topnav a.active {
  background-color: #171740;
  color: rgb(8, 241, 27);
}

.topnav img {
  background-color: rgb(24, 24, 85);
  float: left;
  color: powderblue;
  font-size: 150%;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
  margin: 8px;
  align-content: center;
  align-items: center;
  
}

.pengulogo {
  image-orientation: 45deg;
}

.footer {

  position:sticky;

  position: fixed;

  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(24, 24, 85);
  color: white;
  text-align: center;
}

.footer p {
  background-color: rgb(24, 24, 85);

  padding: 0.1px;
  width: 100%;


}

.center {
  display:flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  height: 20px;

}

#linuxpenguin1 {
  margin: 10px;
  transform:rotate(345deg);
}

#linuxpenguin2 {
  margin: 10px;
  transform:rotate(15deg);

}


#homebutton {
  margin: 20px;
  border: 5px solid green;
  border-radius: 10px;
  background-color: rgb(26, 202, 49);
  color: black;
  font-size: 150%;
  font-family: "Century Gothic";
}

#homebutton:hover {
  background-color: rgb(3, 15, 5);
  color: white;
  border: rgb(26, 202, 49);
  margin: 20px;
  border: 5px solid green;
  border-radius: 10px;
  font-size: 150%;
}


.bouncy{
  animation:bouncy var(--time) infinite linear;
  position:relative;
  }
  @keyframes bouncy {
  0%{top:0em}
  40%{top:0em}
  43%{top:-0.9em}
  46%{top:0em}
  48%{top:-0.4em}
  50%{top:0em}
  100%{top:0em;}
  }

  a.button{
  display:inline-block;
  padding:0.35em 1.2em;
  padding-bottom: 0.5em;
  border:0.1em solid #109c23;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:Segoe UI;
  font-weight:400;
  font-size: 125%;
  color:#22f80f;
  text-align:center;
  transition: all 0.2s;
    }
    a.button:hover{
  color:#010f01;
  background-color:#41dd5b;
    }
    @media all and (max-width:30em){
     a.button{
  display:block;
  margin:0.4em auto;
  
    }
  }

#jumpingfish {
  position:fixed;
  top:600px;
  left:1300px;
  z-index:1000;
  margin-bottom: 10px;
}

::-webkit-scrollbar {
  width: 15px;
  background-color:slategray;

}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(16, 179, 103);
  border-radius: 10px;
}


.light-mode {
  background-color: rgb(247, 247, 247);
  color: rgb(5, 5, 5);
}


.penguin-mode {
  background-color: transparent;
  
}


.rotate35 {  
  -webkit-transform:rotate(35deg);  
  -moz-transform: rotate(35deg);  
  -ms-transform: rotate(35deg);  
  -o-transform: rotate(35deg);  
  transform: rotate(35deg);  
}  


post {
  background-color: rgb(82, 78, 78);
  color: rgb(31, 243, 77);
  font-size: 150%;
  font-family: "Segoe UI";
  border-style: solid;
  border-width: 1px;
  border-color:rgb(8, 241, 27);
  border-radius: 10px;
  padding: 0px;
  line-height:1.2;
  margin-right:600px;
  float:left;
  vertical-align:text-top;
  
}

.text {
  font-size:80%;
  font-family: "Segoe UI";
  color:#41dd5b;
}
